<div class="flex flex-col items-center w-full min-h-screen py-8 bg-gray-100"> 
  <div class="flex justify-between items-center w-full max-w-3xl mb-8 px-6">
    <h1 class="text-3xl font-bold">Your workouts</h1>
    <div>
      <%= link_to 'New Workout', new_workout_path, class: "px-6 py-2 bg-red-500 text-white font-bold border-2 rounded-lg hover:bg-white hover:text-red-500" %>
    </div>
  </div>
  <turbo-frame id="workout-list", class="w-full flex justify-center">
    <div class="w-full max-w-3xl px-6">
      <ul class="space-y-4">
        <% @workouts.each do |workout| %>
          <%= render "workout", workout: workout %>
        <% end %>
      </ul>
      <div class="mt-8 flex flex-col sm:flex-row sm:justify-between sm:items-center">
        <div class="flex space-x-2 mb-4 sm:mb-0 justify-center sm:justify-start">
          <%== pagy_nav(@pagy, link_extra: 'class="px-3 py-1 rounded-lg bg-gray-200 hover:bg-gray-300 transition"') %>
        </div>
        <div class="text-sm text-gray-600 text-center sm:text-left">
          <span><%= @workouts.count %></span> / 
          <span><%= Workout.count %></span> workouts displayed
        </div>
      </div>
    </div>
  </turbo-frame>
</div>
