<div class="flex flex-col items-center w-full min-h-screen py-8 bg-gray-100">
  <div class="flex justify-between items-center w-full max-w-3xl mb-8">
    <h1 class="text-3xl font-bold text-gray-800"><%= @workout.name %></h1>
    <div class="flex space-x-4">
      <%= link_to 'Edit', edit_workout_path(@workout), class: "px-6 py-2 bg-red-500 text-white font-semibold rounded-lg hover:bg-red-600 shadow-md transition duration-300" %>
      <%= link_to 'Delete', workout_path(@workout), data: { turbo_method: :delete }, class: "bg-white text-red-500 px-4 py-2 border-2 font-semibold rounded-lg hover:bg-gray-100 shadow-sm" %>
    </div>
  </div>
  <div class="bg-white w-full max-w-3xl p-6 rounded-lg shadow-lg space-y-8">
    <% if @workout.c_image.attached? %>
      <div class="flex items-center justify-center w-48 h-48 mx-auto mb-4">
        <%= image_tag @workout.c_image, class: "object-cover rounded-lg w-full h-full" %>
      </div>
    <% end %>

    <% if @workout.workout_exercises.any? %>
      <ul class="space-y-6">
        <% @workout.workout_exercises.each do |workout_exercise| %>
          <li class="flex items-center p-4 rounded-lg space-x-6">
            <% if workout_exercise.exercise.image.attached? %>
              <div class="flex-shrink-0 w-32 h-32">
                <%= image_tag workout_exercise.exercise.image, class: "object-cover overflow-hidden rounded-lg w-full h-full" %>
              </div>
            <% end %>
            <div class="flex-1">
              <h2 class="text-lg font-semibold text-gray-800"><%= workout_exercise.exercise.name %></h2>
              <p class="text-sm text-gray-600">Set: <%= workout_exercise.set %></p>
              <p class="text-sm text-gray-600">Rep: <%= workout_exercise.rep %></p>
              <p class="text-sm text-gray-600">Duration: <%= workout_exercise.duration %> seconds</p>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-center text-gray-500 mt-6">No exercises found for this workout.</p>
    <% end %>
  </div>
</div>
