<%= form_with model: article, local: true do |form| %>
  <div class="field">
    <%= form.label :title, class: "block text-lg font-semibold text-gray-700 mb-2" %>
    <%= form.text_field :title,  class: "w-full p-3 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-500 mb-4", placeholder: "Enter exercise name" %>
  </div>
  <div class="field">
    <%= form.label :content, class: "block text-lg font-semibold text-gray-700 mb-2" %>
    <%= form.rich_text_area :content, class: "w-full p-3 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-500 mb-4", placeholder: "Enter exercise description", rows: 4 %>
  </div>
  <div class="field" data-controller="image-preview">
    <%= form.label :image, "Upload Image", class: "block text-lg font-semibold text-gray-700 mb-2" %>
    <%= form.file_field :image, 
      class: "w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-500",
      data: { action: "change->image-preview#preview", image_preview_target: "input" } %>
    <div id="preview-container" class="mt-4">
      <img data-image-preview-target="preview" src="" alt="Preview" class="hidden w-40 h-40 object-cover rounded-lg border">
    </div>
  </div>
  <div class="flex justify-end items-center mt-4">
    <%= form.submit 'Create Article', class: "px-6 py-2 bg-red-500 text-white font-semibold rounded-lg border-2 border-red-500 hover:bg-white hover:text-red-500 transition duration-300" %>
  </div>
<% end %>