<li class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition duration-300 ease-in-out">
  <div class="flex flex-col md:flex-row items-center md:items-start md:justify-between">
    <%= link_to exercise_path(exercise), target: "_top" do %>
      <% if exercise.image.attached? %>
        <div class="mb-4 md:mb-0 md:mr-4 w-40 h-40 flex-shrink-0">
          <%= image_tag exercise.image, class: "w-full h-full object-cover rounded-lg" %>
        </div>
      <% end %>
    <% end %>
    <div class="flex-1">
      <%= link_to exercise_path(exercise), target: "_top" do %>
        <h2 class="text-xl font-semibold text-gray-800"><%= exercise.name %></h2>
      <% end %>
      <p class="text-sm text-gray-500 mt-1"><%= exercise.muscle.capitalize %></p>
    </div>
    <div class="flex space-x-4 mt-4 md:mt-0">
      <%= link_to 'Show', exercise_path(exercise), target: "_top", class: "bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600" %>
    </div>
  </div>
</li>